openapi: 3.0.3
info:
  title: StockTwits Account Trending API
  description: The StockTwits API provides access to the StockTwits social network for investors and traders. It allows developers to access streams of messages (twits), user profiles, trending symbols, and more. StockTwits is a social media platform designed for sharing ideas between investors, traders, and entrepreneurs.
  version: '2.0'
  contact:
    name: StockTwits
    url: https://stocktwits.com
  termsOfService: https://stocktwits.com/terms
  x-jentic-source-url: https://raw.githubusercontent.com/sophie-jentic/openapi-specs/refs/heads/import-jentic-pr-specs/stocktwits.com/stocktwits-api/2.0/openapi.json
servers:
- url: https://api.stocktwits.com/api/2
  description: StockTwits API v2 Production
security:
- {}
- oauth2: []
tags:
- name: Trending
  description: Trending endpoints return currently popular symbols based on message volume.
paths:
  /trending/symbols.json:
    get:
      operationId: getTrendingSymbols
      summary: Trending Symbols
      description: Returns the list of trending symbols on StockTwits, based on message volume.
      tags:
      - Trending
      parameters:
      - name: limit
        in: query
        description: Number of trending symbols to return (default 30, max 30)
        schema:
          type: integer
          default: 30
          maximum: 30
      responses:
        '200':
          description: Successful response with trending symbols
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseStatus'
                  symbols:
                    type: array
                    items:
                      $ref: '#/components/schemas/Symbol'
  /trending/symbols/equities.json:
    get:
      operationId: getTrendingEquities
      summary: Trending Equities
      description: Returns the list of trending equity symbols on StockTwits.
      tags:
      - Trending
      parameters:
      - name: limit
        in: query
        description: Number of trending symbols to return (default 30, max 30)
        schema:
          type: integer
          default: 30
          maximum: 30
      responses:
        '200':
          description: Successful response with trending equity symbols
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/ResponseStatus'
                  symbols:
                    type: array
                    items:
                      $ref: '#/components/schemas/Symbol'
components:
  schemas:
    Symbol:
      type: object
      properties:
        id:
          type: integer
          description: Unique symbol ID
        symbol:
          type: string
          description: The ticker symbol (e.g. AAPL)
        title:
          type: string
          description: The full company/asset name
        aliases:
          type: array
          items:
            type: string
          description: Alternative names or aliases
        is_following:
          type: boolean
          description: Whether the authenticated user is following this symbol
        has_pricing:
          type: boolean
          description: Whether pricing data is available for this symbol
        watchlist_count:
          type: integer
          description: Number of users who have this symbol in their watchlist
    ResponseStatus:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code (200 for success)
  securitySchemes:
    oauth2:
      type: oauth2
      description: StockTwits uses OAuth 2.0 for authentication. Some endpoints are available without authentication using just an access_token query parameter.
      flows:
        authorizationCode:
          authorizationUrl: https://api.stocktwits.com/api/2/oauth/authorize
          tokenUrl: https://api.stocktwits.com/api/2/oauth/token
          scopes:
            read: Read access to public data
            publish_messages: Create and interact with messages
            publish_watch_lists: Create and manage watchlists
            follow_users: Follow and unfollow users
            follow_stocks: Follow and unfollow stocks
    accessToken:
      type: apiKey
      in: query
      name: access_token
      description: Access token passed as a query parameter. Can be an application-level token for public endpoints or a user-level OAuth token for authenticated endpoints.
externalDocs:
  description: StockTwits API Documentation
  url: https://api.stocktwits.com/developers/docs/api
